<!DOCTYPE html>
<html>
<head>
    <title>Signup|PropBiz</title>
    <link rel="stylesheet" href="static/login-style.css">
</head>

<body>
    <div class="main">
        <h1>PropBiz</h1>
        <h3>Create your credentials</h3>

        <form action="">
            <label for="first">
                Username:
            </label>
            <input type="text" id="first" name="first" 
                placeholder="Enter your Username" required>

            <label for="password">
                Password:
            </label>
            <input type="password" id="password" name="password" 
                placeholder="Enter your Password" required>

            <div class="wrap">
                <button type="submit">
                    Submit
                </button>
            </div>
        </form>
    </div>
</body>

</html>
