<!DOCTYPE html>
<html>
<head>
    <title>Login|PropBiz</title>
    <link rel="stylesheet" href="static/login-style.css">
</head>

<body>
    <div class="main">
        <h1>PropBiz</h1>
        <h3>Enter your login credentials</h3>

        <form action="">
            <label for="userid">
                Username:
            </label>
            <input type="text" id="userid" name="userid" 
                placeholder="Enter your User ID" required>

            <label for="password">
                Password:
            </label>
            <input type="password" id="password" name="password" 
                placeholder="Enter your Password" required>

            <div class="wrap">
                <button type="submit">
                    Submit
                </button>
            </div>
        </form>
        
        <p>Not registered?
            <a href="{{url_for('auth.signup')}}" style="text-decoration: none;">
                Create an account
            </a>
        </p>
    </div>
</body>

</html>
