<!DOCTYPE html>
<html>
<head>
    <title>Signup|PropBiz</title>
    <link rel="stylesheet" href="static/login-style.css">
</head>

<body>
    {% if exists_error %}
        <p style="color: red;">User already exists</p>
    {% endif %}

    {% if created_user %}
        <p style="color: green;">User created successfully</p>
    {% endif %}

    <div class="main">
        <a href="{{url_for('views.home')}}" style="text-decoration: none;"><h1>PropBiz</h1></a>
        <h3>Create your credentials</h3>

        <form method="post">
            <label for="Name">
                Name:
            </label>
            <input type="text" id="name" name="name" 
                placeholder="Enter your Name (First Name)" required>

            <label for="username">
                Username:
            </label>
            <input type="text" id="username" name="username"
                placeholder="Enter your username" required>

            <label for="password">
                Password:
            </label>
            <input type="password" id="password" name="password"
                placeholder="Enter your Password" required>

            <div class="wrap">
                <button type="submit">
                    Submit
                </button>
            </div>
        </form>

        <p>Already registered ?
            <a href="{{url_for('auth.login')}}" style="text-decoration: none;">
                Login
            </a>
        </p>
    </div>
</body>

</html>
